.u-section-1 .u-sheet-1 {
  min-height: 605px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 202px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 217px;
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }
}