.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 71px;
  height: 71px;
  margin: 68px auto 0 458px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -51px auto 0 574px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px 458px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  width: 71px;
  height: 71px;
  margin: 65px auto 0 458px;
}

.u-section-1 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -51px auto 0 574px;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: -32px 458px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-icon-5 {
  width: 32px;
  height: 32px;
  margin: 65px auto 0 501px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: -28px auto 60px 548px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 60px;
    margin-left: 351px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 474px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-right: auto;
    margin-left: 558px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 72px;
    margin-left: 351px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 474px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-right: auto;
    margin-left: 558px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 72px;
    margin-left: 411px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-bottom: 64px;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 236px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 364px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 453px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 77px;
    margin-left: 236px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -56px;
    margin-left: 364px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 453px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 81px;
    margin-left: 304px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 274px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-left: 380px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 129px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: 270px;
  }

  .u-section-1 .u-social-icons-4 {
    margin-left: 380px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 180px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 32px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-2 {
    margin-right: 71px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-left: 32px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-4 {
    margin-right: 71px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 94px;
    margin-left: 140px;
  }
}