.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 14px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 12px 444px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -49px auto 60px 436px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 344px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 234px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 144px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-right: 44px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 36px;
  }
}