a {color: white; text-decoration: none;}
.accordion-button::after {filter: brightness(0%) invert(100%);}
.accordion-button:not(.collapsed)::after {filter: brightness(0%) invert(100%);}
html {overflow-x: hidden;}
