* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer,
header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 20px 0;
}

form {
    display: grid;
    justify-content: center;
}

.home img {
    max-width: 300px;
    width: 50%;
}

.store {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.store img {
    max-width: 300px;
    width: 80%;
}

button {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
}

button:hover {
    background-color: gray;
    color: white;
}

button:active {
    background-color: lightgray;
    color: black;
}