* {
    box-sizing: border-box;
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

footer,
header {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 20px 0;
}

img {
    max-width: 300px;
    width: 50%;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
}

button:hover {
    background-color: gray;
    color: white;
}

button:active {
    background-color: lightgray;
    color: black;
}

form {
    display: grid;
    justify-content: center;
}

.store {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.store img {
    width: 80%;
}

.blue,
.brown,
.green,
.dark-red,
.magenta {
    width: 50px;
    height: 30px;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.green {
    background-color: green;
}

.dark-red {
    background-color: darkred;
}

.magenta {
    background-color: magenta;
}

.placeholder {
    display: flex;
    justify-content: center;
    position: relative;
}

.abs {
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container>div {
    margin: 0 18px;
    margin-bottom: 15px;
}

.btn-grp * {
    border-color: gray;
    border-radius: 15px;
    width: 50px;
    height: 30px;
}

.myildjo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myildjo form {
    width: 50px;
    margin: auto;
}

.myildjo label,
h2,
.placeholder {
    margin-bottom: 15px;
}

.thanks {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks p {
    margin-bottom: 15px;
}