* {
    font-family: monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

footer,
header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gray;
    padding: 20px 0;
}

form {
    display: grid;
    justify-content: center;
}

img {
    max-width: 300px;
    width: 50%;
}

button {
    background-color: white;
    padding: 5px 10px;
    border: 1px solid black;
}

button:hover {
    background-color: gray;
    color: white;
}

button:active {
    background-color: lightgray;
    color: black;
}

table {
    display: inline;
    border-collapse: collapse;
}

.store {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.store img {
    width: 80%;
}

.blue {
    background-color: blue;
    height: 30px;
    width: 50px;
}

.brown {
    background-color: brown;
    height: 30px;
    width: 50px;
}

.green {
    background-color: green;
    height: 30px;
    width: 50px;
}

.dark-red {
    background-color: darkred;
    height: 30px;
    width: 50px;
}

.magenta {
    background-color: magenta;
    height: 30px;
    width: 50px;
}

.size * {
    height: 30px;
    width: 50px;
    border: 1px solid gray;
}

.placeholder {
    display: flex;
    justify-content: center;
    position: relative;
}

.abs {
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
}

.container>div {
    margin: 0 5%;
}